body {
  padding: 50px;
  font-family: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.heading {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
     border-top: 1px solid grey;
}

.link {
    cursor: pointer !important;
}

#lnew {
    position: absolute;
    right: 40px;
    top: 5px;
}
